.m-listView,.m-tabs .tabs_hd{
	list-style:none;
	margin:0;
	padding:0;
}
.m-listView{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.m-listView >li{
	cursor:pointer;
	position:relative;
}
.m-listView >li.z-dis{
	cursor:not-allowed;
	background:none;
}
.m-listView >li.z-divider{
	cursor:default;
}
.m-listView.z-dis >li{
	cursor:not-allowed;
	background:none;
}
.m-listView{
	padding:5px 0;
	background:#fff;
	color:#555;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #d2d6de;
}
.m-listView >li{
	padding:3px 14px;
	color:#777;
}
.m-listView >li:hover{
	background:#f4f4f4;
	color:#444;
}
.m-listView >li.z-sel{
	background:#3c8dbc;
	color:#fff;
}
.m-listView >li.z-dis{
	background:none;
	color:#999;
}
.m-listView >li.z-divider{
	margin:9px 0;
	padding:0;
	height:1px;
	background:#e5e5e5;
	overflow:hidden;
}
.m-listView.z-dis{
	background:#eee;
}
.m-listView.z-dis >li{
	background:#eee;
	color:#999;
}
.m-tabs .tabs_hd >li{
	float:left;
	cursor:pointer;
}
.m-tabs .tabs_hd >li.z-crt{
	position:relative;
}
.m-tabs .tabs_hd >li.z-dis{
	cursor:not-allowed;
}
.m-tabs .tabs_bd{
	clear:both;
}
.m-tabs.z-dis .tabs_hd >li{
	cursor:not-allowed;
}
.m-tabs.z-dis .tabs_hd >li.z-crt{
	cursor:default;
}
.m-tabs{
	-moz-border-radius:3px;
	border-radius:3px;
}
.m-tabs .tabs_hd{
	margin-left:-1px;
}
.m-tabs .tabs_hd >li{
	padding:0 15px;
	height:40px;
	line-height:40px;
	color:#444;
	border:1px solid transparent;
	border-bottom-width:0;
	margin-bottom:-1px;
}
.m-tabs .tabs_hd >li + li{
	margin-left:5px;
}
.m-tabs .tabs_hd >li:hover,.m-tabs .tabs_hd >li:focus{
	color:#777;
}
.m-tabs .tabs_hd >li.z-crt{
	background:#fff;
	color:#444;
	border-color:#f4f4f4;
	-webkit-box-shadow:0 -3px #3c8dbc;
	box-shadow:0 -3px #3c8dbc;
	padding-bottom:1px;
}
.m-tabs .tabs_hd >li.z-dis{
	color:#999;
	background:none;
	border-color:transparent;
}
.m-tabs .tabs_bd{
	background:#fff;
	border-top:1px solid #f4f4f4;
	padding:20px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);
	box-shadow:0 1px 1px rgba(0,0,0,0.15);
}
.m-tabs.z-dis .tabs_hd >li:not(.z-crt){
	background:none;
	color:#999;
	border-color:transparent;
}
.m-tabs-center .tabs_hd{
	position:relative;
	float:left;
	left:50%;
}
.m-tabs-center .tabs_hd >li{
	position:relative;
	left:-50%;
}
.m-tabs-left{
	position:relative;
}
.m-tabs-left .tabs_hd{
	position:absolute;
	left:0;
	width:120px;
	margin-left:0;
}
.m-tabs-left .tabs_hd >li{
	float:none;
	border:1px solid transparent;
	border-right-width:0;
	margin-bottom:0;
}
.m-tabs-left .tabs_hd >li + li{
	margin-left:0;
	margin-top:5px;
}
.m-tabs-left .tabs_hd >li.z-crt{
	padding-bottom:0;
	margin-right:-1px;
	-webkit-box-shadow:-3px 0 #3c8dbc;
	box-shadow:-3px 0 #3c8dbc;
}
.m-tabs-left .tabs_bd{
	margin-left:120px;
	min-height:200px;
}
.m-tabs-right{
	position:relative;
}
.m-tabs-right .tabs_hd{
	position:absolute;
	right:0;
	width:120px;
	margin-left:0;
}
.m-tabs-right .tabs_hd >li{
	float:none;
	border:1px solid transparent;
	border-left-width:0;
	margin-bottom:0;
}
.m-tabs-right .tabs_hd >li + li{
	margin-left:0;
	margin-top:5px;
}
.m-tabs-right .tabs_hd >li.z-crt{
	padding-bottom:0;
	padding-left:16px;
	-webkit-box-shadow:3px 0 #3c8dbc;
	box-shadow:3px 0 #3c8dbc;
}
.m-tabs-right .tabs_bd{
	margin-right:120px;
	min-height:200px;
}